# Ignore all
/*
/*/
!/.gitignore
zsh/plugins

# Except
!install.sh
!macos/
!linux/
!Brewfile
!Rakefile
!bin/
!config/
!config/nvim
!gitignore
!tmux.conf
!zsh/
!zshrc.custom
!gitconfig
!package.json
!package-lock.json

config/*
